{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}


<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <meta charset="UTF-8">
    <title>{% block title %}Django Blog{% endblock title %}</title>
</head>
<body>

{% include 'messages_display.html' %}
<div class="container">
    {% block content %}

    {% endblock %}
</div>

</body>
</html>