{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-12 col-lg-10 mx-auto">
            <div class="row">
                <div class="col-8 col-lg-6">
                    <h1 class="modal-title title-blog">{{ title }}</h1>
                </div>
                <div class="col-12 col-lg-6 align-self-center ml-auto">
                    <form action="" method="GET">
                        <div class="input-group">
                            <input class="form-control w100 mr-3" type="text" placeholder="Search post.."
                                   name="query"/>
                            <span class="input-group-btn">
                                    <button class="btn btn-dark" type="submit"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>

            {% for obj in  object_list %}
                <div class="card">
                    <div class="row">
                        <div class="card-block col-12 col-lg-7">
                            <div class="card-body">
                                <h3><a href="{% url 'posts:detail' obj.id %}"
                                       class="subtitle-blog">{{ obj.title }}</a></h3>
                                {% if obj.draft %}
                                    <h5 class="text-danger"><i>Drafted</i></h5>
                                {% endif %}

                                <div class="overflow-hidden">
                                    {% if obj.user %}
                                        <p class="float-left"><i>
                                            {{ obj.get_full_name | default:obj.user.username }}</i></p>
                                        <p class="float-right"><small><i>{{ obj.timestamp|timesince }}
                                            ago</i></small></p>
                                    {% endif %}

                                </div>


                                <p class="card-text">{{ obj.content|linebreaksbr }}</p>
                                <div class="row">
                                    {% if request.user.is_superuser%}
                                        <p class="mr-auto px-3"><a href="{% url 'posts:delete' id=obj.id %}"
                                                                   class="btn btn-danger" role="button">Delete
                                            post</a></p>
                                        <p><a href="{% url 'posts:edit' id=obj.id %}"
                                              class="btn bg-secondary text-light">Edit
                                            post</a>
                                        </p>
                                    {% else %}
                                        <p class="ml-auto"><a href="{% url 'posts:detail' obj.id %}"
                                              class="btn btn-dark">Read post</a>
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="card-block col-12 col-lg-4 m-4 p-4 border">
                            {% if obj.image %}
                                <div class="row">
                                    <img src="{{ obj.image.url }}" alt="" class="img-responsive">
                                </div>
                            {% else %}
                                <h1>NO IMAGE</h1>
                            {% endif %}
                        </div>
                        {#                    {% cycle "" "<div class='col-lg-12'><hr/></div></div><div class='row'>" %}#}
                    </div>
                </div>
                <br>
            {% endfor %}
            {% include 'pagination.html' %}
        </div>
    </div>
{% endblock content %}