{% extends 'base.html' %}

{% block content %}
    <h1 class="modal-title title-blog">{{ title }}</h1>
    <div class="row">
        {% for obj in  object_list %}
            <div class="col-md-6 border">
                <h3><a href="{% url 'posts:detail' obj.id %}"
                       class="subtitle-blog">{{ obj.title }}</a></h3>
                <small>{{ obj.timestamp|timesince }} ago</small>
                <p>{{ obj.id }}</p>
                <p>{{ obj.title }}</p>
                <p>{{ obj.content|linebreaks|truncatechars:60 }}</p>
                <p>{{ obj.updated }}</p>
                <div class="row ">
                    <p><a href="{% url 'posts:delete' id=obj.id %}" class="btn btn-danger" role="button">Delete
                        post</a></p>
                    <p><a href="{% url 'posts:edit' id=obj.id %}" class="btn bg-secondary text-light">Edit
                        post</a>
                    </p>
                </div>
            </div>
            {#            {% cycle "" "<div class='col-lg-12'><hr/></div></div><div class='row'>" %}#}
        {% endfor %}
    </div>
{% endblock content %}