{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}{{ block.super }} | {{ instance.title }}{% endblock title %}

{% block content %}
    <div class="col-lg-6">
        <h1>{{ title }}</h1>
        <p>{{ instance.id }}</p>
        <p>{{ instance.title }}</p>
        <p>{{ instance.content }}</p>
        <p>{{ instance.updated }}</p>
        <p>{{ instance.timestamp }}</p>
        <a href="{{ instance.get_absolute_url }}">Return</a>
        <button type="button" class="btn btn-primary">Primary</button>
    </div>
{% endblock content %}
