{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col col-lg-12">
            <div class="row">
                <div class="col col-4 ">
                    <h1 class="modal-title title-blog">{{ title }}</h1>
                </div>
                <div class="col col-6 align-self-center ml-auto">
                    <form action="" method="GET">
                        <div class="input-group">
                            <input class="form-control w100 mr-3" type="text" placeholder="Search post.."
                                   name="query"/>
                            <span class="input-group-btn">
                                    <button class="btn btn-dark" type="submit"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <br>
            {% for obj in  object_list %}
                <div class="row">
                    <div class="col-lg-6 border">
                        <div class="row">
                            <div class="col-6 col-lg-8">
                                <h3><a href="{% url 'posts:detail' obj.id %}"
                                       class="subtitle-blog">{{ obj.title }}</a></h3>
                                {% if obj.draft %}
                                    <h5><i>Drafted</i></h5>
                                {% endif %}
                                {% if obj.user %}
                                    <p><b>Author: </b> {{ obj.get_full_name | default:obj.user.username }}</p>

                                {% endif %}

                            </div>

                            <div class="col-4 ml-auto  ">
                                <small>{{ obj.timestamp|timesince }} ago</small>
                            </div>
                        </div>
                        {{ obj.content }}
                        <div class="row mt-5">
                            <p class="col-auto mr-auto"><a href="{% url 'posts:delete' id=obj.id %}"
                                                           class="btn btn-danger" role="button">Delete
                                post</a></p>
                            <p class="col-auto"><a href="{% url 'posts:edit' id=obj.id %}"
                                                   class="btn bg-secondary text-light col-lg-offset-5">Edit
                                post</a>
                            </p>
                        </div>
                    </div>
                    <div class="col col-lg-6 border">
                        {% if obj.image %}
                            <div class="row">
                                {#                                <img src="{{ obj.image.url }}" alt="" class="img-responsive">#}
                            </div>
                        {% else %}
                            <h1>NO IMAGE</h1>
                        {% endif %}

                    </div>
                </div>

                {#            {% cycle "" "<div class='col-lg-12'><hr/></div></div><div class='row'>" %}#}
            {% endfor %}
            <div class="pagination">
            <span class="step-links">
                {% if object_list.has_previous %}
                    <a href="?page={{ object_list.previous_page_number }}&q={{ request.GET.query }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
                </span>

                {% if object_list.has_next %}
                    <a href="?page={{ object_list.next_page_number }}&q={{ request.GET.query }}">next</a>
                {% endif %}
            </span>
            </div>
        </div>
    </div>
{% endblock content %}