{% extends 'base.html' %}

{% block title %}{{ block.super }} | {{ instance.title }}{% endblock title %}

{% block content %}
    <h1 class="modal-title my-title">{{ title }}</h1>
    <small>{{ instance.timestamp }}</small>
    </h1>
    <p>{{ instance.id }}</p>
    test for ssh
    <p>{{ instance.title }}</p>
    <p>{{ instance.content }}</p>
    <p>{{ instance.updated }}</p>
    <a href="{{ instance.get_absolute_url }}">Return</a>
    <button type="button" class="btn btn-primary">Primary</button>
{% endblock content %}
